body {
  padding: 0;
  margin: 0;
  background: hsl(207, 57%, 67%);
  background-color: #5183b8 !important;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

/*============================
        HOME
==============================*/

/*============================
        FEATURED IMAGE
==============================*/

.featured_action {
  /* font-family: "Meddon", cursive; */
  /* font-family: "Italianno", cursive; */
  /* font-family: "Parisienne", cursive; */
  /* font-family: "Petit Formal Script", cursive; */
  font-family: "Tangerine", cursive;
}

.featured_container {
  background: hsl(207, 57%, 67%);
}

.featured_container .featured_image {
  position: relative;
  background-size: cover !important;
  /* background-position: center left !important; */
  background-position: center center !important;
}

.featured_container .featured_action {
  position: absolute;
  top: 15%;
  left: 15%;
}

.featured_container .featured_action .tag {
  background: #82828287;
  color: #ffffff;
  padding: 0px 20px;
  display: table;
}

.featured_container .featured_action .tag.title {
  font-size: 7em;
  font-weight: 700;
  padding-top: -40vh;
}

.featured_container .featured_action .tag.low_title {
  font-size: 4em;
  font-weight: 300;
  margin-top: 55%;
  margin-left: 12%;
}

@media only screen and (max-width: 1025px) and (min-width: 770px) {
  .featured_container .featured_action .tag.title {
    font-size: 4.5em;
    font-weight: 700;
    padding-top: -40vh;
    margin-left: 12%;
  }

  .featured_container .featured_action .tag.low_title {
    font-size: 3.5em;
    font-weight: 300;
    margin-top: 40%;
  }

  .featured_action {
    width: 100%;
  }
}

@media only screen and (max-width: 769px) and (min-width: 501px) {
  .featured_container .featured_action .tag.title {
    font-size: 5em;
    font-weight: 700;
    padding-top: -40vh;
  }

  .featured_container .featured_action .tag.low_title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 70%;
    margin-left: 20%;
  }

  .featured_action {
    width: 100%;
    margin-left: -23%;
  }
}

@media only screen and (max-width: 500px) and (min-width: 400px) {
  .featured_container .featured_action .tag.title {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: -40vh;
    margin-left: 15%;
  }

  .featured_container .featured_action .tag.low_title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 70%;
    margin-left: 10%;
    text-align: center;
  }

  .featured_action {
    padding-top: 10%;
    width: 100%;
    margin-left: -20%;
  }

  .featured_image {
    height: 60%;
  }
}

@media only screen and (max-width: 399px) and (min-width: 100px) {
  .featured_container .featured_action .tag.title {
    font-size: 2.5em;
    font-weight: 700;
    padding-top: -40vh;
    text-align: center;
    margin-left: 15%;
  }

  .featured_container .featured_action .tag.low_title {
    font-size: 3em;
    font-weight: 300;
    margin-top: 70%;
    margin-left: 10%;
    text-align: center;
  }

  .featured_action {
    padding-top: 10%;
    width: 100%;
    margin-left: -20%;
  }

  .featured_image {
    height: 50%;
  }
}

/*====================
        HEADER
======================*/

.headerButton {
  color: white !important;
  font-size: 1.5rem !important;
}

#headerLinks {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

/*====================
        FOOTER
======================*/

footer {
  padding: 50px 0px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  background: hsl(207, 57%, 67%);
  width: 100%;
}

.footer-container {
  position: static;
  width: 100%;
}

footer .footer_copyright {
  font-size: 18px;
}

.spacer {
  width: 100%;
  height: 92px;
}

/*============================
        CONTACT
==============================*/

.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  padding: 5% 0;
  text-align: center;
}

.contactInfo {
  text-align: center;
  padding-top: 2rem;
}

.contactDetails {
  font-size: 2rem;
}

.fa-phone:hover {
  color: white;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.fa-map-marker-alt:hover {
  color: white;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.fa-envelope:hover {
  color: white;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

@media only screen and (max-width: 1024px) {
  .contactSection {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 376px) {
  .contactDetails {
    font-size: 1.5rem;
  }
}
/*====================
        LOCATION    
======================*/

.location_wrapper {
  position: relative;
}

.location_tag {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.location_tag div {
  background: #2c2c2c;
  color: #ffffff;
  text-transform: uppercase;
  width: 220px;
  margin: 0 auto;
  font-size: 29px;
  padding: 15px 20px;
  text-align: center;
}

/*====================
        About Us    
======================*/

.aboutContainer {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.aboutImages {
  width: 48%;
  height: 48%;
  border-radius: 15%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

.clubImg {
  width: 25%;
  padding: 2% 2%;
}

.contentParagraph {
  font-size: 1.5rem;
}

#timSig {
  padding: 2% 0;
}

@media only screen and (max-width: 500px) {
  #aboutMediaQuery {
    overflow-x: hidden !important;
  }

  .clubs {
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
  }

  .clubsA {
    width: 250%;
    height: 250%;
    overflow-x: hidden !important;
    padding-left: 22%;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
    width: 150%;
    padding-left: 18%;
    overflow-x: hidden !important;
  }

  .aboutImagesOne {
    margin-bottom: 5%;
  }
}

/*====================
        Bio    
======================*/

.mikeBio {
  font-size: 1.5rem;
}

#mikePhoto {
  border-radius: 50%;
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

.timBio {
  font-size: 1.5rem;
}

.bioInfo {
  padding-top: 5%;
}

#timPhoto {
  border-radius: 50%;
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.8);
}

#borderBio {
  border-top: 3px solid black;
  width: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 500px) {
  #mikePhoto {
    width: 50%;
  }

  #timPhoto {
    width: 50%;
  }
}
